<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="BoardDto" type="com.my.tang.domain.event.BoardDto"/>
        <typeAlias alias="HistoryDto" type="com.my.tang.domain.mypage.HistoryDto"/>
        <typeAlias alias="User" type="com.my.tang.domain.member.User"/>
        <typeAlias alias="NoticeDto" type="com.my.tang.domain.notice.NoticeDto"/>
        <typeAlias alias="ProductDto" type="com.my.tang.domain.auction.ProductDto"/>
        <typeAlias alias="SearchCondition" type="com.my.tang.domain.etc.SearchCondition"/>
    </typeAliases>
</configuration>