<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.tang.dao.mypage.HistoryMapper">
<!--    <select id="selectAll" resultType="HistoryDto">-->
<!--        SELECT in_num, m_id, in_point, in_info, in_date-->
<!--        FROM pointinfo-->
<!--        ORDER BY in_date DESC, in_num DESC-->
<!--    </select>-->

    <sql id="selectFromBoard">
        SELECT *
        FROM user_info
    </sql>

    <select id="select" parameterType="String" resultType="User">
        <include refid="selectFromBoard"/>
        WHERE id = #{id}
    </select>

    <select id="selectProduct" resultType="ProductDto">
        SELECT *
        FROM product
        WHERE p_num = #{p_num}
    </select>

    <select id="selectPage" parameterType="map" resultType="ProductDto">
        SELECT *
        FROM product
        WHERE classify_buy = "낙찰" or classify_sell = "판매수익"
        ORDER BY mod_reg_date DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectPoint" resultType="User">
        SELECT *
        FROM user_info
        WHERE id = #{id}
    </select>

    <update id="updateClassify" parameterType="ProductDto">
        UPDATE product
        SET  classify_buy = #{classify_buy} ,
             classify_sell = #{classify_sell}
        WHERE p_num = #{p_num}
    </update>

    <update id="updateCurrent" parameterType="String">
        UPDATE product
        SET  current_id = #{current_id}
    </update>

</mapper>